:root {
  --primary: #36673a;
  --secondary: #f7f7f7;
  --transparent: rgba(255, 255, 255, 0);
  --light-black: #2e2c2caf;
}

@media only screen and (max-width: 1024px) {
  .services-cards {
    flex-direction: column !important;
  }
  .nav-item{
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 996px) {
  .testimonials2 .card {
    width: 15em;
  }
  .section-1 {
    padding-right: 5em;
  }
  .section1-left {
    position: initial;
    padding-bottom: 6em;
    padding-right: initial;
    width: 100% !important;
    text-align: center;
  }
  .section1-left a {
    position: initial;
    bottom: initial;
  }
}

@media only screen and (max-width: 768px) {
  /* header {
    display: block;
    position: relative;
    background: none;
    background-color: #e3e4e6;
  } */

  .header-intro {
    padding: 10em 1em;
    padding: 10em 1em;
    font-size: 1rem;
  }

  .header-intro h1{
    font-size: 2.5rem;
  }

  .nav-item{
    border-bottom: 2px solid rgba(0,0,0,0.1);
  }

  .nav-item.active a{
    color: var(--primary) !important;
  }

  .nav-item.active::after,
.nav-item:hover::after {
  background: none;
}

  .btn {
    font-size: 1.3rem;
    padding: 1vmin 5vmin;
  }
  .section-1 {
    padding: 10vmin;
    padding-right: 10vmin;
  }

  .section1-left a {
    font-size: 18px;
  }

  .testimonials2 .row {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .section1-left h2 {
    font-size: 2rem;
  }
  .services-cards {
    flex-direction: row !important;
  }
}

@media only screen and (max-width: 576px) {
  .services-child {
    max-width: 100%;
    margin-bottom: 1rem !important;
  }

  .contact-us-form {
    max-width: initial !important;
  }
}

@media only screen and (max-width: 426px) {
  header{
    min-height: 400px
  }
  .header-intro h1{
    font-size: 2rem;
  }
  .cards .card {
    width: 94%;
    margin: 3vmin;
  }

  .header-intro {
    padding: 10em 0.75em;
    font-size: 0.75rem;
    padding-top:16em;

  }

  
}

