@import url("https://fonts.googleapis.com/css?family=Acme|Lobster|Patua+One|Rubik|Sniglet");

* {
  box-sizing: border-box;
  transition: all 0.5s ease-in;
}

:root {
  --primary: #36673a;
  --secondary: #f7f7f7;
  --transparent: rgba(255, 255, 255, 0);
  --light-black: #2e2c2caf;
}

body {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  transition: all 1s ease-in;
}

a {
  color: var(--primary);
  font-weight: 900;
  text-decoration-line: underline;
}

a.no-underline {
  text-decoration-line: none !important;
}

a:hover {
  color: black;
  transition: all 0.1s;
}

i {
  color: var(--primary);
}

h1 {
    position: relative;
    text-align: center;
}

.btn {
  border-radius: 30px;
  font-weight: bold;
  padding: 1vmin 3vmin;
  margin-bottom: 2vmin;
  min-width: 6rem;
  font-size: 1.5rem;
  text-decoration-line: none;
}

.btn-primary {
  background-color: var(--primary);
  border-color: var(--primary);
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: white;
  border-color: white;
  color: var(--primary);
}

.btn-secondary {
  background-color: var(--transparent);
  border-color: var(--primary);
  color: rgba(0, 0, 0, 0.8);
}

.btn-secondary:hover,
.btn-secondary:focus {
  background-color: var(--primary);
  border-color: var(--primary);
  color: white;
  border: none;
}

.nav-item {
  position: relative;
}

.nav-item.active::after,
.nav-item:hover::after {
  background: green;
  content: "";
  width: 5px;
  height: 5px;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  margin-left: -2px;
  bottom: -7px;
}

.nav-item a {
  font-weight: 500;
  color: #191919 !important;
  text-decoration-line: none;
}

header {
  background-image: url("./aarbv-uni0w.webp");
  position: relative;
  background-size: cover;
  background-position: 20% 65%;
  padding: 40px 20px;
  height: 42vh;
  max-height: 420px;
  min-height: 360px;
}

section {
  overflow: hidden;
}

.header-image {
  display: none;
}

.header-intro {
  position: absolute;
  bottom: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(50%);
  transform: translateX(-50%) translateY(50%);
  max-width: 100%;
  z-index: 2;
}

.header-intro h1 {
  font-size: 3.3rem;
  font-weight: bold;
  padding: 0em 0em;
}

.header-intro p {
  font-size: 1rem;
  padding: 0.35rem 0.75rem;
}

.header-image {
  position: absolute;
}

.header-buttons a {
  border-radius: 30px;
  font-weight: bold;
}

.section-1 {
  padding: 5em 7em;
}

.section1-left {
  padding-bottom: 4em;
  padding-right: 5rem;
  position: relative;
  width: 65%;
}

.section1-left h2 {
  padding-bottom: 1.2em;
}

.section1-left p {
  padding-bottom: 1em;
  color: #707070;
}

.section1-left a {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  fill: #191919;
  color: #191919;

  border-radius: 35px 35px 35px 35px;
  padding: 14px 48px 14px 48px;

  position: absolute;
  bottom: 0;
}

.section1-right i {
  color: var(--primary);
  position: relative;
  display: block;
}

.cards .card {
  width: 22rem;
  margin: 3vmin;
}

.section-contact-us {
  overflow: hidden;
}

.services,
.section-contact-us {
  background-color: var(--secondary);
  padding: 1rem 0.5rem;
  padding-bottom: 10rem;
}
.services h1,
.section-contact-us h1 {
  font-size: 42px;
}

.services h1::after,
.section-contact-us h1::after {
  background: green;
  content: "";
  width: 3em;
  height: 3px;
  position: absolute;
  left: 50%;
  margin-left: -1.5em;
  bottom: -0.5em;
}

.services .row,
.section-contact-us .row {
  padding: 10vmin 4vmin;
}

.services .card {
  width: 25rem;
  margin: 3vmin;
}

.service-icon {
  padding: 1.2rem;
  background-color: var(--primary);
  border-radius: 50%;
  display: inline-block;
}

.border-radius {
  border-radius: 240px;
  width: 80%;
}

.service-icon i {
  color: white;
}

.testimonials {
  padding: 1rem 0.5rem;
  padding-bottom: 10rem;
}

.testimonials div {
  padding: 0;
  margin: 0;
}

.testimonials .title {
  padding: 2.5rem 3rem;
  padding-top: 0;
  padding-bottom: 1rem;
  font-size: 2vmin;
}

.testimonials .card-text {
  padding: 1.4rem 2.5rem;

  color: var(--light-black);
}

.testimonials h1 {
  font-size: 42px;
}

.testimonials h1::after {
  background: green;
  content: "";
  width: 3em;
  height: 3px;
  position: absolute;
  left: 50%;
  margin-left: -1.5em;
  bottom: -0.5em;
}

.testimonials .row {
  padding: 10vmin 4vmin;
}

.testimonials .card {
  width: 19rem;
  margin: 3vmin;
}

.contact-us {
  background-color: var(--secondary);
  padding: 1rem 0.5rem;
  padding-bottom: 10rem;
}

.contact-us h1 {
  font-size: 42px;
}

.contact-us h1::after {
  background: green;
  content: "";
  width: 3em;
  height: 3px;
  position: absolute;
  left: 50%;
  margin-left: -1.5em;
  bottom: -0.5em;
}

.form-group-with-small-helper {
  margin-bottom: 0.3rem;
}
.contact-us .row {
  padding: 6vmin 4vmin;
  padding-bottom: 2vmin;
}

small {
  padding-left: 0.88rem;
}

.contact-us .contact-us-form {
  max-width: 540px;
}

#map {
  height: 560px !important;
}

.section-contact-us {
  background-color: var(--secondary);
  padding: 1rem 0.5rem;
  padding-bottom: 10rem;
}

.section-contact-us h1 {
  font-size: 42px;
}

.section-contact-us h1::after {
  background: green;
  content: "";
  width: 3em;
  height: 3px;
  position: absolute;
  left: 50%;
  margin-left: -1.5em;
  bottom: -0.5em;
}

.form-group-with-small-helper {
  margin-bottom: 0.3rem;
}
.section-contact-us .row {
  padding: 6vmin 4vmin;
  padding-bottom: 2vmin;
}

.section-contact-us .contact-us-form {
  max-width: 540px;
}

footer .footer-icon {
  background-color: var(--primary);
  border-radius: 50%;
  padding: 1.2rem;
  display: inline-block;
}

footer .footer-icon .fa-facebook-f {
  padding: 0.2rem;
}

.footer-icon i {
  color: white;
}

.wp-block-group__inner-container {
  padding: 10vmin 6vmin;
  padding-bottom: 2vmin;
}

.wp-block-group.secondary .wp-block-group__inner-container {
  background-color: var(--secondary);
}
/* .wp-block-group.full-width .wp-block-group__inner-container {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
} */

.wp-block-group h1 {
  font-size: 42px;
  position: relative;
  padding-bottom: 1.5rem!important;
}

.wp-block-group h1::after {
  background: green;
  content: "";
  width: 3em;
  height: 3px;
  position: absolute;
  left: 50%;
  margin-left: -1.5em;
  bottom: 0.4em;
}

.wp-block-group .row {
  padding: 10vmin 6vmin;
  padding-bottom: 2vmin;
}

.wp-block-group p {
  font-size: 1.4rem;
  word-break: break-word;
}

@media only screen and (max-width: 1024px) {
  .services-cards {
    flex-direction: column !important;
  }
  .nav-item {
    margin-left: 0 !important;
  }
}

@media only screen and (max-width: 996px) {
  .testimonials2 .card {
    width: 15em;
  }
  .section-1 {
    padding-right: 5em;
  }
  .section1-left {
    position: initial;
    padding-bottom: 6em;
    padding-right: initial;
    width: 100% !important;
    text-align: center;
  }
  .section1-left a {
    position: initial;
    bottom: initial;
  }
}

@media only screen and (max-width: 768px) {
  /* header {
      display: block;
      position: relative;
      background: none;
      background-color: #e3e4e6;
    } */

  .header-intro {
    padding: 10em 1em;
    padding: 10em 1em;
    font-size: 1rem;
  }

  .header-intro h1 {
    font-size: 2.5rem;
  }

  .nav-item {
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }

  .nav-item.active a {
    color: var(--primary) !important;
  }

  .nav-item.active::after,
  .nav-item:hover::after {
    background: none;
  }

  .btn {
    font-size: 1.3rem;
    padding: 1vmin 5vmin;
  }
  .section-1 {
    padding: 10vmin;
    padding-right: 10vmin;
  }

  .section1-left a {
    font-size: 18px;
  }

  .testimonials2 .row {
    display: flex;
    flex-direction: column;
    align-content: center;
  }

  .section1-left h2 {
    font-size: 2rem;
  }
  .services-cards {
    flex-direction: row !important;
  }
}

@media only screen and (max-width: 576px) {
  .services-child {
    max-width: 100%;
    margin-bottom: 1rem !important;
  }

  .section-contact-us-form {
    max-width: initial !important;
  }
}

@media only screen and (max-width: 426px) {
  header {
    min-height: 400px;
  }
  .header-intro h1 {
    font-size: 2rem;
  }
  .cards .card {
    width: 94%;
    margin: 3vmin;
  }

  .header-intro {
    padding: 10em 0.75em;
    font-size: 0.75rem;
    padding-top: 16em;
  }
  :root {
    --primary: #36673a;
    --secondary: #f7f7f7;
    --transparent: rgba(255, 255, 255, 0);
    --light-black: #2e2c2caf;
  }

  @media only screen and (max-width: 1024px) {
    .services-cards {
      flex-direction: column !important;
    }
    .nav-item {
      margin-left: 0 !important;
    }
  }

  @media only screen and (max-width: 996px) {
    .testimonials2 .card {
      width: 15em;
    }
    .section-1 {
      padding-right: 5em;
    }
    .section1-left {
      position: initial;
      padding-bottom: 6em;
      padding-right: initial;
      width: 100% !important;
      text-align: center;
    }
    .section1-left a {
      position: initial;
      bottom: initial;
    }
  }

  @media only screen and (max-width: 768px) {
    /* header {
      display: block;
      position: relative;
      background: none;
      background-color: #e3e4e6;
    } */

    .header-intro {
      padding: 10em 1em;
      padding: 10em 1em;
      font-size: 1rem;
    }

    .header-intro h1 {
      font-size: 2.5rem;
    }

    .nav-item {
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    }

    .nav-item.active a {
      color: var(--primary) !important;
    }

    .nav-item.active::after,
    .nav-item:hover::after {
      background: none;
    }

    .btn {
      font-size: 1.3rem;
      padding: 1vmin 5vmin;
    }
    .section-1 {
      padding: 10vmin;
      padding-right: 10vmin;
    }

    .section1-left a {
      font-size: 18px;
    }

    .testimonials2 .row {
      display: flex;
      flex-direction: column;
      align-content: center;
    }

    .section1-left h2 {
      font-size: 2rem;
    }
    .services-cards {
      flex-direction: row !important;
    }
  }

  @media only screen and (max-width: 576px) {
    .services-child {
      max-width: 100%;
      margin-bottom: 1rem !important;
    }

    .contact-us-form {
      max-width: initial !important;
    }
  }

  @media only screen and (max-width: 426px) {
    header {
      min-height: 400px;
    }
    .header-intro h1 {
      font-size: 2rem;
    }
    .cards .card {
      width: 94%;
      margin: 3vmin;
    }

    .header-intro {
      padding: 10em 0.75em;
      font-size: 0.75rem;
      padding-top: 16em;
    }
    .services,
    .testimonials,
    .contact-us {
      padding-bottom: 5rem !important;
    }
  }
}
